@font-face {
    font-family: "AkrobatWeb";
    src: url("../media/Akrobat-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}



* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "AkrobatWeb", "Segoe UI", "Helvetica Neue", "Trebuchet MS", Verdana, sans-serif;
    letter-spacing: 1px;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    text-rendering: optimizeLegibility;
}

/************* Header ************/


#header {
    width: 100%;
    padding: 15px;
    padding-bottom: 0;
    position: relative;
}

#logo {
    display: block;
    margin: 20px auto;
    height: 80px;
    filter: invert(1);
}

#title {
    margin: 25px auto;
    font-weight: bold;
    font-size: 3.0rem;
    letter-spacing: 17px;
    text-transform: uppercase;
    text-align: center;
    margin-right: -17px; /*remove spacing from last char*/
}

hr {
    width: 800px;
    max-width: 90%;
    border-color: black;
    border-width: 1px;
    margin: 0 auto;
}

.section-button {
    display: block;
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
    padding: 5px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    border: solid 2px black;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.section-button:hover {
    background: black;
    color: white;
    font-weight: bold;
}


.dark #header {
    background: black;
}

.dark #title {
    color: white;
}

.dark #logo {
    filter: none;
}

.dark .section-button {
    border-color: white;
    color: white;
}

.dark .section-button:hover {
    background: white;
    color: black;
}

/* To look better when an overlay popup is active */
/*.dark #header::before {
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    background: black;
    top: -50px;
    bottom: 0;
    left: -50px;
    right: -50px;
}*/



@media (max-width: 600px) {
    #logo {
        margin-top: 60px;
    }

    #title {
        font-size: 2.2rem;
        letter-spacing: 12px;
    }

    .section-button {
        margin: 10px;
        padding: 3px 10px;
        font-size: 1.1rem;
    }
}


/************* Image Card Gallery *************/

#content {
    width: 80vw;
    margin: 0 auto;
    padding: 20px;
    padding-top: 90px;
}

#content-title {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 2.6rem;
}

.brand-logo-wrapper {
    overflow: hidden;
    margin: 20px auto;
    margin-bottom: 35px;
    width: 130px;
    height: 130px;
    max-width: 80vw;
    max-height: 80vw;
}

.brand-logo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#tag-bar {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}

.tag {
    margin-right: 8px;
    font-size: 1.1rem;
    border: solid 1px grey;
    padding: 2px 4px;
    cursor: pointer;
    color: grey;
}

.tag:hover {
    font-weight: bold;
    border-color: black;
    color: black;
}

.tag-selected {
    font-weight: bold !important;
    border-color: black !important;
    color: white !important;
    background: black !important;
}


.gallery {
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    /*padding: 30px;*/
    justify-content: center;
    align-items: center;
    width: 100%;
    /*width: 1700px;
    max-width: 100vw;*/
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(max-content, 450px));*/
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    transition: filter 0.2s;
}

#product-gallery {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#client-gallery {
    grid-template-columns: repeat(auto-fit, minmax(max-content, 300px));
}

.gallery-item {
    background: lightgrey;
    height: 350px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 25%) -2px 3px 5px;
}

.item-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s, filter 0.3s;
}

.item-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 8px 15px;
    background: rgba(255,255,255,0);
}

.item-title {
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0px 0px 10px black, 0px 0px 20px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    padding: 15px;
}

/* Hover */

.gallery-item:hover .item-image {
    transform: scale(1.15);/* rotate(3deg);*/
    filter: blur(3px);
}

.gallery-item:hover .item-title {
    opacity: 1;
}

/* Mobile */

@media only screen and (max-width: 1000px) {
    #content {
        width: 100vw;
    }
}

@media (hover: none) {
    .item-title {
        opacity: 1;
        transition: opacity 0.3s;
    }

    .gallery-item:hover .item-image {
        transform: none;
        filter: none;
    }

    .tag:hover {
        font-weight: normal;
        border-color: grey;
        color: grey;
    }
}


/************* Overlay Popup *************/

/* General Popup */

.no-scroll {
    overflow-y: hidden;
}

.blured {
    filter: blur(6px);
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s;
}

.full-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.backcatcher {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}

.popup-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.close-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
    background: white;
    cursor: pointer;
    padding: 12px;
    box-sizing: initial;
}

.popup-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: bold;
    color: black;
    text-transform: capitalize;
}


/* Password Popup */

.pwd-card {
    padding: 50px;
    width: 400px;
    max-width: 90%;
}

label {
    display: block;
    color: grey;
    font-size: 16px;
    margin-bottom: 5px;
}

input[type=password] {
    display: block;
    background: none;
    border: none;
    border-bottom: solid 1px grey;
    width: 100%;
    color: black;
    font-size: 20px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    transition: border-bottom 0.3s;
}

input[type=submit] {
    display: block;
    color: white;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 8px;
    width: 100%;
    border: none;
    background: dodgerblue;
    cursor: pointer;
}

input:focus {
    outline: none;
    border-bottom: solid 1px black;
}

input[type=submit]:hover {
    background: #2c70b3;
}

.wrong {
    animation-name: shakeAnim;
    animation-iteration-count: 2;
    animation-duration: 0.15s;
}

@keyframes shakeAnim {
    0% { transform: translate(-50%, -50%); }
    25% { transform: translate(calc(-50% + 10px), -50%); }
    75% { transform: translate(calc(-50% - 10px), -50%); }
    100% { transform: translate(-50%, -50%); }
}

/* Product Popup */

.product-card {
    /*display: flex;*/
    display: grid;
    grid-template-columns: auto auto;
}

.product-viewer {
    overflow: hidden;
    width: max-content;
}

.product-viewer img {
    display: block;
    max-width: calc(90vw - 300px);
    max-height: 90vh;
}

.product-card-info {
    width: 300px;
    padding: 50px 20px;
}

@media only screen and (max-width: 1000px) {
    .product-card {
        /*display: block;*/
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .product-viewer img {
        max-width: 90vw;
    }

    .product-card-info {
        width: 100%;
        padding: 15px;
    }
}